kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: infra-wayne-woker
  labels:
    app: infra-wayne-woker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: infra-wayne-woker
  template:
    metadata:
      labels:
        app: infra-wayne-woker
    spec:
      volumes:
      - name: config
        configMap:
          name: infra-wayne
      containers:
      - name: wayne
        image: '{{ wayne_image }}'
        command:
        - /opt/wayne/backend
        args:
        - worker
        - '-t'
        - AuditWorker
        - '-c'
        - '1'
        env:
        - name: GOPATH
          value: /go
        resources:
          limits:
            cpu: '0.5'
            memory: 0.5Gi
          requests:
            cpu: '0.5'
            memory: 0.5Gi
        volumeMounts:
        - name: config
          mountPath: /opt/wayne/conf/
        imagePullPolicy: Always
