global:
  proxy:
    #只包含本k8s内的pod、svc网段
    includeIPRanges: "{{ SERVICE_CIDR }},{{ CLUSTER_CIDR }}"
  #取消policy前置检查
  disablePolicyChecks: true
  #policy模块可以失败
  policyCheckFailOpen: true


gateways:
  enabled: false

galley:
  enabled: false

tracing:
  enabled: false

servicegraph:
  enabled: false

#
# mixer configuration
#
mixer:
  enabled: true
  replicaCount: 3
  autoscaleMin: 3
  autoscaleMax: 10

  istio-policy:
    autoscaleEnabled: true
    autoscaleMin: 3
    autoscaleMax: 10
    cpu:
      targetAverageUtilization: 80

  istio-telemetry:
    autoscaleEnabled: true
    autoscaleMin: 3
    autoscaleMax: 10
    cpu:
      targetAverageUtilization: 80

#
# pilot configuration
#
pilot:
  enabled: true
  replicaCount: 3
  autoscaleMin: 3
  autoscaleMax: 10
  image: pilot
  # Resources for a small pilot install
  resources:
    requests:
      cpu: 1
      memory: 4048Mi
  cpu:
    targetAverageUtilization: 80

prometheus:
  enabled: true
  security:
    enabled: false
    adminUser: admin
    adminPassword: mxnavi

grafana:
  enabled: true
  persist: false
  storageClassName: ""

kiali:
  enabled: true
  hub: docker.io/kiali
  tag: v0.11.0
  ingress:
    enabled: true
    hosts:
      - kiali.istio.{{ CLUSTER_NAME }}.mxnavi.com
  dashboard:
    username: admin
    passphrase: mxnavi
    grafanaURL: http://grafana:3000
    # Override the automatically detected Jaeger URL, usefull when Jaeger service has no ExternalIPs
    # jaegerURL: http://jaeger-query:16686
