{
  "registry-mirrors": ["{{ REG_MIRROR_1 }}"],
  "max-concurrent-downloads": 10,
  "log-opts": {
    "max-size": "{{ LOG_MAX_SIZE }}",
    "max-file": "{{ LOG_MAX_FILE }}"
    },
  "graph": "{{ STORAGE_DIR }}",
  "insecure-registry": "{{ INSECURE_REGISTRY }}"
}
