rbac:
  create: true

controller:
  image:
    repository: {{ controller_image_repository }}
    tag: {{ controller_image_tag }}
  #daemonset:
  #  useHostPort: true
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  service:
    type: ClusterIP
  #https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/configmap.md#proxy-read-timeout
  config:
     client-header-timeout: "3600"
     client-body-timeout: "3600"
     proxy-connect-timeout: "30"
     proxy-read-timeout: "3600"
     proxy-send-timeout: "3600"
     proxy-body-size: "100m"
     client-body-buffer-size: "1024k"
     server_names_hash_bucket_size: "1024"
     log-format-stream: "[$time_local] $protocol $status $bytes_sent $bytes_received $session_time"
     log-format-upstream: "$remote_addr - [$the_real_ip] - $remote_user [$time_local] \"$request\" $status $body_bytes_sent \"$http_referer\" \"$http_user_agent\" $request_length $request_time [$proxy_upstream_name] $upstream_addr $upstream_response_length $upstream_response_time $upstream_status $req_id $namespace $service_name $service_port"


  tolerations:
    - key: "nginx-ingress"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: role
              operator: In
              values:
              - nginx-ingress

  resources:
    limits:
      cpu: 2
      memory: 2048Mi
    requests:
      cpu: 2
      memory: 2048Mi

defaultBackend:
  image:
    repository: {{ defaultBackend_image_repository }}
    tag: {{ defaultBackend_image_tag }}
  resources:
    limits:
      cpu: 2
      memory: 2048Mi
    requests:
      cpu: 2
      memory: 2048Mi
