rbac:
  create: true

controller:
  image:
    repository: {{ controller_image_repository }}
    tag: {{ controller_image_tag }}
  dnsPolicy: ClusterFirstWithHostNet
  service:
    type: NodePort
    nodePorts:
       http: 32080
       https: 32443
  #https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/configmap.md#proxy-read-timeout
  config:
     client-header-timeout: "3600"
     client-body-timeout: "3600"
     proxy-connect-timeout: "30"
     proxy-read-timeout: "3600"
     proxy-send-timeout: "3600"
     proxy-body-size: "100m"
     client-body-buffer-size: "1024k"
     log-format-stream: "[$time_local] $protocol $status $bytes_sent $bytes_received $session_time"
     log-format-upstream: "$remote_addr - [$the_real_ip] - $remote_user [$time_local] \"$request\" $status $body_bytes_sent \"$http_referer\" \"$http_user_agent\" $request_length $request_time [$proxy_upstream_name] $upstream_addr $upstream_response_length $upstream_response_time $upstream_status $req_id $namespace $service_name $service_port"

  resources:
    limits:
      cpu: 2
      memory: 2048Mi
    requests:
      cpu: 2
      memory: 2048Mi

defaultBackend:
  image:
    repository: {{ defaultBackend_image_repository }}
    tag: {{ defaultBackend_image_tag }}
  resources:
    limits:
      cpu: 2
      memory: 2048Mi
    requests:
      cpu: 2
      memory: 2048Mi
