global:
  imageRegistry: docker.mxnavi.com/k8s

ingress:
  enabled: true
  hosts:
  - name: kubeapps.{{ CLUSTER_NAME }}.mxnavi.com

tillerProxy:
  host: tiller-deploy.{{ helm_namespace }}:44134

apprepository:
  initialRepos:
  - name: mxnavi
    url: http://kube-helm-charts.mxnavi.com
  - name: ali
    url: https://kubernetes.oss-cn-hangzhou.aliyuncs.com/charts
